<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Richie - Investment for Millennials Made Cool</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  
  <!-- Links to stylesheets -->
  <link rel="stylesheet" href="/font-awesome.min.css">
  <link rel="stylesheet" href="/bootstrap.css.scss" media="screen">
  <link rel="stylesheet" href="/custom.css">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>-->
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet" integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+" crossorigin="anonymous">
  <style>
  
  
  
    canvas {
      display: block; 
      vertical-align: bottom;
    }
    .promo {
      position: relative;
    }
    .promo-content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      min-height: 100%;
    }
    .particles {
      background: white;
    }
    #clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: rgba(51, 153, 204, 0.3);
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: rgba(51, 153, 204, 0.3);
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

	#footer {
  position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
	}
  </style>
    
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://bootswatch.com/paper/bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="https://bootswatch.com/paper/bower_components/respond/dest/respond.min.js"></script>
  <![endif]-->
  <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23019901-1']);
    _gaq.push(['_setDomainName', "bootswatch.com"]);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body style="font-size: 18px">
<!-----HEADER START---->
  <div class="navbar navbar-default navbar-fixed-top" style="border-style:none; box-shadow:none; background:transparent;">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="https://fiduty-api-isuruv.c9users.io"><img src="/assets/Logo6Richie.svg" height="50"></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" style="color:rgba(51, 153, 204, 1)">
        <li>
          <a href="http://feed.richieinvest.com" style="color:rgba(51, 153, 204, 1)" target="_blank">BLOG</a>
        </li>
      </ul>
    </div>
  </div>
<!-----HEADER END---->

<!-- Main background
================================================== -->
<div class="promo">
  <div id="particles-js" class="particles" >
  </div>
  <div class="promo-content">
    <div class="container">
      <div class="text-center">

<!-------countdown-------->

<div id="clockdiv" style="padding-top:150px;">
  <div>
    <span class="days"></span>
    <div class="smalltext">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>

<!-------countdown-------->


        <h1 class="cover-heading" style="padding-top:20px;"> 
          <p id="example2"></p> 
        </h1>
        <p class="lead">Investing for Millennials Made Cool</p>
    
        <p class="lead">
          <a data-toggle="modal" data-target="#waitlistModal" class="btn btn-lg btn-secondary" style="background: #fff">Waitlist</a>
        </p>
      </div>
      <div class="mastfoot text-center">
        <p>Powered by <a href="#"><img src="/assets/IBM_logo.svg" height="15" style="margin-bottom: 6px;"></a> Watson.</p>
      </div>
    </div>
  </div>
    
</div>

<!-- Waitlist Modal
================================================== -->

<div class="modal"  id="waitlistModal" style="padding-top:15%">
  <div class="modal-dialog">
    <div class="modal-content" style="text-align:center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Let's change Wall Street together</h4>
      </div>
      <div class="modal-body">
      <form action="/emails" method="post">
        <p><label>E-mail Address</label>
            <input id="email" name="email" required ></input></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       <input type="submit" class="btn btn-primary" value="Waitlist me"></input>
        <!--<a href="https://fiduty-api-isuruv.c9users.io/share"><button type="button" class="btn btn-primary" >Waitlist me</button></a>-->
      </div>
      </form>
    </div>
  </div>
</div>




        


  <script src="/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.typeit/4.3.0/typeit.min.js"></script>
  <script src="/assets/particles.js"></script>
  <script src="/js/custom.js"></script>
  <script type="text/javascript">
    $('#example2').typeIt({
       strings: ['Build groups', 'Co-invest with your friends', 'Invest in your passion'],
       speed: 200,
       breakLines: false,
       autoStart: false,
       loop: true,
       loopDelay: 2750,
    });
  </script>
  <script>
    particlesJS("particles-js", 
    {
      "particles": {
        "number": {
          "value": 80,
          "density": {
            "enable": true,
            "value_area": 800
          }
        },
        "color": {
          "value": "#DCDCDC"
        },
        "shape": {
          "type": "circle",
          "stroke": {
            "width": 0,
            "color": "#000000"
          },
          "polygon": {
            "nb_sides": 5
          },
          "image": {
            "src": "img/github.svg",
            "width": 100,
            "height": 100
          }
        },
        "opacity": {
          "value": 1,
          "random": false,
          "anim": {
            "enable": false,
            "speed": 1,
            "opacity_min": 0.1,
            "sync": false
          }
        },
        "size": {
          "value": 3,
          "random": true,
          "anim": {
            "enable": false,
            "speed": 40,
            "size_min": 0.1,
            "sync": false
          }
        },
        "line_linked": {
          "enable": true,
          "distance": 150,
          "color": "#D3D3D3",
          "opacity": 0.4,
          "width": 1
        },
        "move": {
          "enable": true,
          "speed": 3,
          "direction": "none",
          "random": false,
          "straight": false,
          "out_mode": "out",
          "bounce": false,
          "attract": {
            "enable": false,
            "rotateX": 600,
            "rotateY": 1200
          }
        }
      },
      "retina_detect": true
    });
</script>
<script>

var deadline = 'Oct 1 2017 00:00:00 GMT-0400';
function time_remaining(endtime){
	var t = Date.parse(endtime) - Date.parse(new Date());
	var seconds = Math.floor( (t/1000) % 60 );
	var minutes = Math.floor( (t/1000/60) % 60 );
	var hours = Math.floor( (t/(1000*60*60)) % 24 );
	var days = Math.floor( t/(1000*60*60*24) );
	return {'total':t, 'days':days, 'hours':hours, 'minutes':minutes, 'seconds':seconds};
}
function run_clock(id,endtime){
	var clock = document.getElementById(id);
	
	// get spans where our clock numbers are held
	var days_span = clock.querySelector('.days');
	var hours_span = clock.querySelector('.hours');
	var minutes_span = clock.querySelector('.minutes');
	var seconds_span = clock.querySelector('.seconds');

	function update_clock(){
		var t = time_remaining(endtime);
		
		// update the numbers in each part of the clock
		days_span.innerHTML = t.days;
		hours_span.innerHTML = ('0' + t.hours).slice(-2);
		minutes_span.innerHTML = ('0' + t.minutes).slice(-2);
		seconds_span.innerHTML = ('0' + t.seconds).slice(-2);
		
		if(t.total<=0){ clearInterval(timeinterval); }
	}
	update_clock();
	var timeinterval = setInterval(update_clock,1000);
}
run_clock('clockdiv',deadline);

  </script>
  
</body>
<!-- Footers
================================================== -->

<footer id="footer" style="border-top:1px solid #ededed; padding-top:35px; height:150px; position:fixed; bottom:0px;">
  <div class="container">
        <div class="row">
          <div class="col-lg-12">

            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li><a href="http://feed.richieinvest.com" target="_blank" onclick="pageTracker._link(this.href); return false;">BLOG</a></li>
            </ul>
            <p>Copyright: 2017 General Robotics Inc</p>
                     </div></div>
          </div>
        <div class="clearfix"> </div>

</div>
</footer>
</html>