<html>
<head>
  <title>Richie - Investment for Millennials Made Cool</title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <title>Richie - Investment for Millennials Made Cool</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

<meta property="og:title" content="Richie - Investing for Millenials Made Cool"/>
<meta property="og:image" content="/assets/Metaimage-01.jpg"/>
<meta property="og:site_name" content="Richie"/>
<meta property="og:description" content="80% of Millennials don't invest and we are in the business of changing it. Dark truth about millennials investing, and much more with Richie."/>
	

</head>

<body>
  <%= javascript_include_tag :defaults %>
  <%= yield %>
</body>
</html>
